.idea/
.vscode/
.history/
.temp/
.svn/
.husky/
.local/

*.sh
*.md
*.woff
*.ttf

dist/
node_modules/
cypress/
docs/
mocks/
public/
report/
scripts/

public-path.js
.eslintrc.cjs
proxy.js
vite.config.js
webpack.*.js
rollup.config.js

Dockerfile
